@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

.App {
  margin-top: 50px;
  padding: 30px;
  flex-direction: column;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 15px;
  word-wrap: break-word;
  width: 100%;
  height: 100%;
}

.confirm-dialog {
  position: fixed;
  top: 50%;
  left: 45%;
  transform: translate(-50%, -50%);
  background-color: rgb(230, 230, 230);
  padding: 20px;
  border: 1px solid #adadad;
  box-shadow: 0 5px 7px rgba(0, 0, 0, 0.1);
}

.vendido {
  /* position: relative; */
  top: -20;
  right: 30;
  transform: translate(0%, -40%);
  background-color: #f44336;
  box-shadow: 0 5px 7px rgba(255, 0, 0, 0.144);
  color: white;
  padding: 5px 10px;
  font-size: 12px;
  z-index: 1;
}

.imagem {
  /* border: 2px solid #000; */
  width: 200px;
  height: 200px;
}

.titulo {
  text-align: center;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  padding: 10px;
  background-color: #e0e0e0;
  border-bottom: 2px solid #000;
  z-index: 999;
}

.conteudo {
  /* background-color: rgb(235, 235, 235); */
  border: 0px solid #ccc;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.1);
  width: 300px;
  margin-right: 70%;
}

.addProdutos {
  margin-top: 18px;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(450%);
  z-index: 9999;
}

.create {
  margin-top: 30px;
  position: fixed;
  right: 5px;
  top: 5px;
  padding: 6px;
}

.app-header {
  font-family: "Montserrat", sans-serif;
}

/* @media (prefers-reduced-motion: no-preference) {
  .App {
    animation: App infinite 20s linear;
  }
} */

/* @keyframes App {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
